
.delete-btn {
    border: 1px solid #e78e5f;
    border-radius: 5px;
    background-color:#c73535;
    font-weight: bold;
    color: white;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #e78e5f;
    border: 1px solid #c73535;

}


ul {
    list-style: none;
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 0;
   
  }
  
  li {
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
  }
  